{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <script src="{% static 'scrips/app.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <h1>LOGO</h1>
        <h1>ACTIVE HAUL</h1>
        <nav>
            <ul>
                <li><a href="{% url 'products_womens'%}">Womens</a></li>
                <li><a href="{% url 'products_mens'%}">Mens</a></li>
                <li><a href="{% url 'products_accessories'%}">Accessories</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>    
</body>
</html>