{% extends 'base.html' %}
{% load static %}

{% block quantity %}
{{order.get_total_quantity}}
{% endblock %}
{% block content%}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark"  href="{% url 'home' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>

            <table class="table">
                <tr>
                    <th colspan="2"><h5>Items: <strong>{{order.get_total_quantity}}</strong></h5></th>
                    <th colspan="2"><h5>Total: <strong>{{order.get_total_price}}</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px;" href="" class="btn btn-success">Check out</a>
                    </th>
                </tr>
            </table>
        </div>

        <br>

        <div class="box-element">
            <div class="cart-row">
                <div style="flex: 2;">Image</div>
                <div style="flex: 2;"><strong>Item</strong></div>
                <div style="flex: 2;"><strong>Price</strong></div>
                <div style="flex: 2;"><strong>Quantity</strong></div>
                <div style="flex: 2;"><strong>Total</strong> </div>
            </div>
            {% for order_item in order.product.all %}
            <div class="cart-row">
                <!-- <div style="flex: 2;">1</div> -->
                <div style="flex: 2;"><img src="https://res.cloudinary.com/dy3lkhg3y/image/upload/c_scale,h_120,w_100/v1651360159/{{order_item.product.image}}" alt="{{order_item.product.name}}"></div>
                <div style="flex: 2;">{{order_item.product}}</div>
                <div style="flex: 2;">${{order_item.product.price}}</div>
                <div style="flex: 2;"><p class="quantity">{{order_item.quantity}}</p>
                    <div class="quantity">
                        <a href="{% url 'add_to_cart' order_item.product.slug %}">
                            <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">
                        </a>
                        <a href="{% url 'remove_item_from_cart' order_item.product.slug %}">
                            <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
                        </a>
                    </div> 
                </div>
                <div style="flex: 2;">{{order_item.get_total_item_price}}</div>
                <div style="flex: 2;"> <a href="{% url 'remove_all_cart' order_item.product.slug %}">Remove</a></div>
            </div>
            {% endfor %}

        </div>
        
    </div>
</div>
{% endblock %}