{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="margin-bottom: 100px;">
    <div class="MainContent">
        <div class="hero-section">
           <div>
               <img src="{% static 'images/Hero.jpg' %}" alt="Hero image" class="hero">
               <div style="text-align: center; left: 50%; top: 50%;transform: translate(0%,-1000%);">
                   <h1>NEVER STOP SWEATING</h1>
               </div>
           </div>
        </div>
        <div class="new-section" style="padding: 10px;">
            <div style="right: 0;"><a href="{% url 'products_index' %}">view all</a></div>
            <div class="row" style="padding: 10px;">
                {% for product in products|slice:":3" %}
                <div class="col-lg-4">
                    <img class="thumbnail" src="https://res.cloudinary.com/dy3lkhg3y/image/upload/v1651360159/{{product.image}}" alt="{{product.name}}">
                    <div class="box-element" style="list-style: none; position: relative;">
                        <a href="{% url 'product_show' product.slug %}">
                            <div class="info-container">
                                <span style="color:hsl(0, 0%, 30%);">NEW</span>
                            </div>
                            <div class="title">
                                <h1>{{product.title|upper}}</h1>
                            </div>
                            <div class="price">
                                <p>{{product.price}} USD</p>
                            </div>
                            <div>
                                <p>{{product.color}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            two section 
        </div>
    </div>
</section>
{% endblock %}