{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div>
            <div>
                <h1>Women's All Product</h1>
                <hr>
                <!-- ** Add all category filter Here ** -->
                <div class="row">
                    {% for product in products %}
                        {% if product.main_category == "Womens" %}
                        <div class="col-lg-4">
                            <img class="thumbnail" src="{% static 'images/placeholder.png'%}" alt="">
                            <div class="box-element" style="list-style: none; position: relative;">
                                <a href="{% url 'product_show' product.slug %}">
                                    <div class="info-container">
                                        <span style="color:hsl(0, 0%, 30%);">NEW</span>
                                    </div>
                                    <div class="title">
                                        <h1>{{product.title|upper}}</h1>
                                    </div>
                                    <div class="price">
                                        <p>{{product.price}} USD</p>
                                    </div>
                                    <div>
                                        <p>{{product.color}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div></div> 
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock %}