{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
<section>
    <div class="container" style="display: flex; justify-content: flex-start; flex-direction: row;">
        <article style=" position: relative; flex-wrap: wrap; width: calc(100% + 1rem);flex: 1 1 0%;">
            <div class="image" style="border: 1px black solid; position: absolute;">
                <img class="thumbnail" src="https://res.cloudinary.com/dy3lkhg3y/image/upload/v1651360159/{{product.image}}" alt="{{product.name}}">
            </div>
        </article>
        <article style="position: sticky; width: 32.5rem; margin-left: 4rem;">
            <div class="info" >
                <h1>{{product}}</h1>
                <h6>{{product.main_category}}</h6>
                <p>{{product.price}} USD</p>
                <p>{{product.color}}</p>
                <p>{{product.size}}</p>
                <p>{{product.conditions}}</p>
                <p>{{product.description}}</p>
            </div>
            <div>
                <a href="{% url 'add_to_cart' product.slug %}">Add to Cart</a>
            </div>
            <div>
                <a href="{% url 'product_update' product.slug %}">Update</a>
                <a href="{% url 'product_delete' product.slug %}">Delete</a>
            </div>
        </article>
    </div>
</section>
{% endblock %}

