{% extends 'base.html' %}

{% block content %}

<section>
    <h1>{{ username }}'s Profile </h1>
    
    <div>
        <h2>
            {{user.email}}
        </h2>
        {% if user.bio != None %}
        {{user.bio}}
        {% else %}
            <h1>Input</h1>
        {% endif %}
    </div>
    <div class="row" style="padding: 10px;">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="https://res.cloudinary.com/dy3lkhg3y/image/upload/v1651360159/{{product.image}}" alt="{{product.name}}">
            <div class="box-element" style="list-style: none; position: relative;">
                <a href="{% url 'product_show' product.slug %}">
                    <div class="info-container">
                        <span style="color:hsl(0, 0%, 30%);">NEW</span>
                    </div>
                    <div class="title">
                        <h1>{{product.title|upper}}</h1>
                    </div>
                    <div class="price">
                        <p>{{product.price}} USD</p>
                    </div>
                    <div>
                        <p>{{product.color}}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
    
{% endblock %}