{% extends 'base.html' %}

{% load static %}
{% block content %}

<section>
    <div class="profileInfo d-flex flex-column align-items-center" style=" padding: 30px; background-color: #F6F6F6;" >
        <div class="text-center">
            <img class="rounded-circle mx-auto d-block img-thumbnail" style="height: 200px; width: 200px;" src="https://res.cloudinary.com/dy3lkhg3y/image/upload/v1651360159/{{user.profile_img}}" alt="{{user.username}}">
            <h1 class="pt-3">{{ username }}'s Store </h1>
        </div>
            
        <div>
            <div style=" padding: 30px;">
                {% if user.bio != None %}
                <p>Bio:</p>
                <h4>
                    {{user.bio}}
                </h4>
                {% else %}
                    <h1>Input</h1>
                {% endif %}
            </div>
            <div class="text-center">
                <button class="btn btn-info">
                    <a href="{% url 'profile_update' user.id %}" style="color: grey;">Edit</a>
                </button>
            </div>
        </div>
    </div>
   

    <div>
        <div class="p-5 text-center" >
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td><img class="thumbnail" src="https://res.cloudinary.com/dy3lkhg3y/image/upload/c_scale,h_120,w_100/v1651360159/{{product.image}}" alt="{{product.name}}"></td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.color }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    <!-- <div class="row" style="padding: 10px;">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="https://res.cloudinary.com/dy3lkhg3y/image/upload/v1651360159/{{product.image}}" alt="{{product.name}}">
            <div class="box-element" style="list-style: none; position: relative;">
                <a href="{% url 'product_show' product.slug %}">
                    <div class="info-container">
                        <span style="color:hsl(0, 0%, 30%);">NEW</span>
                    </div>
                    <div class="title">
                        <h1>{{product.title|upper}}</h1>
                    </div>
                    <div class="price">
                        <p>{{product.price}} USD</p>
                    </div>
                    <div>
                        <p>{{product.color}}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div> -->
</section>
    
{% endblock %}